{% extends "estacionamento/base.html" %}

{% block title %}inicio Estacionamento{% endblock %}

{% block content %}
        <div class ="cabecario">
        
        <p>Estacionamento</p>
        </div>
        <div class="preco">
        -------preços--------</br>
        -- 1 hr -----  4,80  --</br>
        -- 1 min ---- 0,08  -- </br>
        -- 1 dia ---- 20,00 -- </br>
        -----------------------

        </div>
        
        <div class ="Button">
    <a href="/entrada"><button>entrada</button> </a><a href="http://localhost:8000/admin/estacionamento/carro/"><button>Saida</button></a>
            <p class="date">
        </div>
        <div class = "titulo">
          <p>Carros estacionados</p>
        </div>
    <div class = "loop">
    {% for carro in carro_list %}
    
    <p>
        Placa: {{carro.placa}} até o momento a contadeu R$: {{carro.getpreco}}</br>            
                Entrada em {{ carro.data }}</br>  
    </p> 
    --------------------------------------------------------------------- 
          
            

    {% endfor %}
    </div>
{% endblock %}